#internal_data {
    display: none;
}

#current_page {
    display: none;
}

#alert {
    display: none;
}

#account_button {
    display: none;
}

.header {
    text-align: center;
    font-size: 50px;
    letter-spacing: 20px;
    padding: 30px 0 50px 0;
    text-transform: uppercase;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

/* jewed from bootstrap's navbar example */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}